* {
    text-decoration: none;
    list-style: none;
}

@font-face {
    font-family: 'Great Vibes', 'Parisienne';
    src: url('GreatVibes-Cursive.tff') format('truetype');
}

body {
    font-size: 1.1rem;
}

.btn-danger {
    background-color: #e60340;
    border-color: #e60340;
    border-radius: 10px;
}

.btn-danger:hover {
    background-color: #d62353;
}

.fonteTitulo {
    font-family: 'Great Vibes';
    font-size: 3rem;
    text-align: center;
}

.fonteSubTitulo {
    font-family: 'Parisienne';
    font-size: 2.5rem;
    padding: 10px;
}

.textoBranco {
    color: #fff;
    text-decoration: none;
    text-align: center;
}

.fundoBackground {
    background-color: #23282b;
    width: 100vw;
}

.fundoBackground2 {
    background-color: #f5f5f5;

}

.fundoBackground3 {
    background-color: #1c2022;
    width: 100vw;
}

/* Cabeçalho */

#logotipo img {
    width: 90px;
    padding-top: 5px;
}


#menu ul {
    padding: 20px 0px 0px 0px;
}

#menu ul li {
    text-align: center;
    display: inline-block;
}

#menu ul li a {
    color: #fff;
    text-decoration: none;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: inline-block;
    border-radius: 5px;
}

.botaoFundo:hover {
    background-color: #191b1d;
}


/* Index */

#imgBorda {
    position: relative;
    border: 6px solid #fff;
    top: 30px;
    right: 100px;
}

.fundoServico {
    background-color: #dbdada;
    opacity: 0.8;
    margin-bottom: 50px;
    border-radius: 15px;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: none;
}

.teste{
    text-decoration: none;
}

.fundoServico h3 {
    font-size: 1.5rem;
    color: #000;
    text-decoration: none;
}

.servico img {
    width: 90px;
    margin: 20px;
}

.fundoServico:hover {
    background-color: #cacaca;


}

.imgIlustrativa1 {
    position: relative;
    top: 50px;
    left: 120px;
}

.imgIlustrativa2 {
    position: relative;
    top: 50px;
    right: 80px;
}

.textoBanner {
    background-color: #fff;
    margin: 80px 0px 80px 0px;
    padding: 30px 80px 50px 30px;
    font-size: 15px;
    text-align: left;
    position: relative;
}

.boxCadastre {
    text-align: center;
    background-color: #666363;
    padding: 30px;
    border-radius: 20px;
    margin: 20px 0px 20px 0px;
}

.textCadastre {
    padding-top: 20px;
    padding-bottom: 80px;
    font-size: 1.1rem;
}

.card-img-overlay {
    background-color: #000000c4;
    padding: 20px;
    text-align: center;
}

.card {
    width: 100vw;
}

/* Rodape */

#copyright {
    text-align: center;
}

/* Sobre Nós */

.fundoImagem {
    background-color: #23282b;
    border-bottom: 40px solid #666363;
    width: 100vw;
}

#imgBorda2 {
    position: relative;
    border: 6px solid #fff;
    left: 50px;
    top: 20px
}

.missaoVisaoValores {
    box-shadow: 10px 20px #8f8f8f;
    border-radius: 30px;
    border: 1px solid #8f8f8f;
    margin: 100px 5px 30px 5px;
    height: 290px;
    padding: 20px;
    text-align: center;
}

.tamanhoIcone {
    font-size: 3.0rem;
    padding: 20px;
    color: #e60340;
}


/* Ajuda */



.bordaPasso {
    border: 2px solid #fff;
    text-align: center;
    background-color: #fff;
    border-radius: 30px;
    padding: 10px;

}

.passo h3 {
    color: #e60340;
    text-align: center;
}

.textoPerguntas p {
    text-align: left;
    padding-bottom: 40px;
    font-size: 1.1rem;
}


.formularioDuvidas label {
    color: #fff;
    font-size: 1.1rem;
}

/* App */

#menuFacilidades ul li {
    list-style-type: square;
    margin-top: 20px;
    font-size: 1.1rem;
}

#imgBorda3 {
    position: relative;
    top: 10px;
    left: 100px;
    box-shadow: 5px 5px 10px #8f8f8f;

}

/* Usuario Cliente */

.boxCliente {
    background-color: #f5f5f5;
    border-radius: 30px;
    border: 2px solid #e7e2e2;
}



#btnMenu {
    border-radius: 5px;
    background-color: #e60340;
    color: #fff;
}



/* mobile */

@media screen and (max-width: 500px) {

    .imgnone {
        display: none;
    }

    .btnmenu {
        border-radius: 5px;
        background-color: #e60340;
        color: #fff;
    }


    #textgarcom img {
        text-align: left;
        padding-right: 10px;
    }

    #menu {
        background-color: #23282b;
        width: 300px;
        position: absolute;
        top: 70px;
        left: -300px;
        height: 100vh;
        transition: left 500ms ease;
        z-index: 9999;
    }

    .menushow {
        left: 0 !important;
    }

    #menu ul li {
        display: block;
    }

    #menu ul li a {
        color: #fff;
    }

    #menu ul li a:hover {
        background: none;
    }

    .bordaPasso {
        margin-bottom: 30px;
    }

    .formularioDuvidas img {
        width: 0px;
        height: 0px;
    }

    #imgPessoas {
        display: none;
    }
}

#loginUsuario {
    margin: 30px;
    padding: 20px;
    vertical-align: auto;
    margin-left:350px ;
}


